* {
    box-sizing: border-box;
  }
  
  body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    background: #f1f1fd;
  }
  
  nav {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
  }
  
  h1 {
    font-size: 5rem;
    margin: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 5px;
    margin: 0;
    list-style: none;
  }
  
  .main-image {
    display: none;
  }
  
  .loading-dog {
    animation: spin 1s infinite linear;
    font-size: 50px;
    display: none;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
  }
  
  .main-image {
    max-width: 100%;
    max-height: 80vh;
    box-shadow: 0 15px 20px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
  }
  
  @keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
  }
  
  .show {
    display: block;
  }

  footer.footer {
  font-size:20px;
  text-align:center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing:2px;
}

p {
  color:red;
}

.screen {
  color: #5B26D5;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 20px 5px;
}